#logo {
    padding: 10px 10px;
}
/* Got following code from https://stackoverflow.com/questions/18529274/change-navbar-color-in-twitter-bootstrap-3 */
/* navbar */
.navbar-default {
    background-color: black;
    border-color: #E7E7E7;
}
/* Title */
.navbar-default .navbar-brand {
    color: #777;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #5E5E5E;
}
/* Link */
.navbar-default .navbar-nav > li > a {
    color: lightgray;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #333;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #E7E7E7;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #D5D5D5;
}
/* Caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #777;
    border-bottom-color: #777;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}
.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
}
/* Mobile version */
.navbar-default .navbar-toggle {
    border-color: #DDD;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #DDD;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #CCC;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
          color: #333;
    }
}


.btn-hv { 
  background-color:lightgray; 
  border: 1px solid gray;
  
} 
.btn-explore {
    background-color: white;
    color: blue;
    border: 1px solid gray;
    border-radius: 4px;
}
.btn-explore:hover {
    background-color: blue;
    color: white;
    border: 1px solid gray;
    border-radius: 4px;
}

.dashed-box {
    padding: 10px 20px;
    border: 2px dashed lightgray;
    height: 250px;
    width: 600px;
    background-color: white;
    border-radius: 5px;
}
.right-box {
    padding: 10px 20px;
    border: 2px solid blue;
    height: 150px;
    width: 200px;
    background-color: gray;
    border-radius: 5px;
}